@import "main.scss";

$form-color: #f0f2f7;
$error-color: #e91e63;

.form {
  width: 50%;
  margin: 15% auto;
  padding: 3%;
  border: 1px solid $head-color;
  border-radius: 40px;
  background-color: $form-color;

  button {
    width: 100%;
    margin-top: 10px;
  }

  input {
    width: 100%;
  }
}

.error {
  color: $error-color;
  margin: 10px auto;
  width: 100%;
  text-align: center;
}