//$body-bg: #000;
//$body-color: #111;
//
//@import 'node_modules/bootstrap/scss/bootstrap.scss';
//@import 'node_modules/bootstrap-vue/src/index.scss';
//
//
$head-color: #2196E0;
$back-color: #f0f4fa;
$input-focus-color: #3f51b5;

.main-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: $back-color;
}

.head {
  background-color: $head-color;

  a, span, button {
    color: white;
  }

  a:hover {
    color: #ddd;
  }

  span:hover {
    color: white;
  }
}

button {
  height: 40px;
  width: 100px;
  background-color: $head-color;
  color: white;
  border-radius: 10px;
  border: 1px solid $head-color;
}

button:hover {
  background-color: $back-color;
  color: $head-color;
}

button:active {
  border: 2px solid $head-color;
  font-size: 14px;
}

html, body, #app {
  height: 100%;
}

input {
  background: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid $head-color;
  outline: none;
}

input:hover, input:active, input:focus {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

input:focus {
  border-color: $input-focus-color;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
}

.label_file{
  width: 100%;
  cursor:pointer;
  background: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid $head-color;
  outline: none;
  text-align: center;
}

.label_file:hover, .label_file:active, .label_file:focus {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.label_file:focus {
  border-color: $input-focus-color;
}
input[type="file"]{
  display: none;
}

